.container {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
  }

  p {
    line-height: 40px;
  }

  .left ul > div {
    display: flex;

    li {
      width: 50%;
    }
  }

  .right {
    justify-content: flex-end;
    display: flex;
  }
}