.container {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
  }

  p {
    line-height: 40px;
  }

  .left ul {
    display: flex;
    max-width: 540px;

    li {
      width: 50%;
      max-width: 270px;
    }
  }

  .right {
    justify-content: flex-end;
    display: flex;
  }
}