.container {
  display: flex;
  flex: 1;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.contentWrapper {
  margin-left: $sidebar-width-large;
  display: flex;
  flex: 1;

  @media only screen and (max-width: 1000px) {
    margin-left: 0;
  }
}
